numpy==1.13.1
pandas==0.20.3
jinja2==2.9.6
presto-python-client==0.1.0
configparser==3.5.0
scipy==0.19.1
cycler==0.10.0 
matplotlib==2.0.2 
seaborn==0.7.1 
brewer2mpl==1.4.1 
ggplot==0.11.5
patsy==0.4.1
statsmodels==0.8.0
blessings==1.6 
scikit-learn==0.19.1
xlrd==1.0.0
openpyxl==2.4.8
simplejson==3.11.1
pillow==8.2.0
xlwings==0.11.4