{% extends "base1.html" %}
{% block title %} <title>{{model_name}}</title> {% endblock %}
{% block page_main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1 align=center>{{model_name}}</h1>
      <hr>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">稳定性汇总</h1>
          </div>
          <h6 class="h5" style=" text-align:center;">变量与模型分PSI汇总</h6>
          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
          <div id="main1" style="width: 1000px;height:500px;margin: 0 auto;"></div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">打分人数统计</h1>
          </div>
          <h6 class="h5" style=" text-align:center;">打分人数按时间分布</h6>
          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
          <div id="main2" style="width: 1000px;height:500px;margin: 0 auto;"></div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">变量分箱分布</h1>
          </div>

  <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart1 = echarts.init(document.getElementById('main1'));
      // 指定图表的配置项和数据
      var option1 = {
          tooltip: {
              trigger: 'axis'
          },
          legend: {
              data:[{% for item in names %}
                      '{{item}}',
                  {% endfor %}],
              x: 'left'
          },
          grid: {
              left: '3%',
              right: '4%',
              bottom: '8%',
              containLabel: true
          },
          toolbox: {
              feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
              }
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [{% for item in dates %}
                      '{{item}}',
                  {% endfor %}]
          },
          yAxis: {
              type: 'value'
          },
          dataZoom: [{
              type: 'inside',
              start: 50,
              end: 100
          }, {
              start: 0,
              end: 10,
              handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
              handleSize: '80%',
              handleStyle: {
                  color: '#fff',
                  shadowBlur: 3,
                  shadowColor: 'rgba(0, 0, 0, 0.6)',
                  shadowOffsetX: 2,
                  shadowOffsetY: 2
              }
          }],
          series: [
            {% for item in details %}
              {
                  name:'{{item.name}}',
                  type:'line',
                  data:{{item.data}}
              },
            {% endfor %}
          ]
      };
      myChart1.setOption(option1);
  </script>

  <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart2 = echarts.init(document.getElementById('main2'));
      // 指定图表的配置项和数据
      var option2 = {
                     tooltip: {},
                     legend: {
                         data:['人数']
                     },
                     toolbox: {
                         feature: {
                           dataView: {show: true, readOnly: false},
                           magicType: {show: true, type: ['line', 'bar']},
                           restore: {show: true},
                           saveAsImage: {show: true}
                         }
                     },
                     xAxis: {
                         data: [{% for item in dates %}
                                        '{{item}}',
                                    {% endfor %}]
                     },
                     yAxis: {},
                     series: [{
                         name: '人数',
                         type: 'bar',
                         data: [{% for i in score_nums %}{{i}},{% endfor %}]
                     }],
                     dataZoom: [{
                           type: 'inside',
                           start: 50,
                           end: 100
                       }, {
                           start: 0,
                           end: 10,
                           handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                           handleSize: '80%',
                           handleStyle: {
                               color: '#fff',
                               shadowBlur: 3,
                               shadowColor: 'rgba(0, 0, 0, 0.6)',
                               shadowOffsetX: 2,
                               shadowOffsetY: 2
                           }
                       }]
                      };
      myChart2.setOption(option2);
  </script>
{% for item in var_data_all_summary %}
    <h6 class="h5" style=" text-align:center;">{{item.title}}</h6>
    <div id="{{item.title}}" style="width: 1000px;height:500px;margin: 0 auto;"></div>
    <hr>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('{{item.title}}'));
      var option = {
                    legend: {
                        x: 'center'
                    },
                    tooltip: {},
                    toolbox: {
                      feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                      }
                    },
                    dataset: {
                        source: [
                            ['bins', {% for bin in item.bins %}
                                        '{{bin}}',
                                     {% endfor %}
                            ],
                            {% for item_data in item.data %}
                              ['{{item_data.detail_name}}',
                                {% for data_detail in item_data.detail_data %}
                                  {{data_detail}},
                                {% endfor %}
                              ],
                            {% endfor %}
                          ]
                    },
                    dataZoom: [{
                                  type: 'inside',
                                  start: 60,
                                  end: 100
                              }, {
                                  start: 0,
                                  end: 10,
                                  handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                                  handleSize: '80%',
                                  handleStyle: {
                                      color: '#fff',
                                      shadowBlur: 3,
                                      shadowColor: 'rgba(0, 0, 0, 0.6)',
                                      shadowOffsetX: 2,
                                      shadowOffsetY: 2
                                  }
                              }],
                    xAxis: {type: 'category'},
                    yAxis: {},
                    // Declare several bar series, each will be mapped
                    // to a column of dataset.source by default.
                    series: [
                        {% for key in item.bins %}
                          {type: 'bar'},
                        {% endfor %}
                    ]
                };
          // 使用刚指定的配置项和数据显示图表。

          myChart.setOption(option,true);
      </script>
    {% endfor %}
{% endblock %}
